.text-center{
	width: 100%;
	display: block;
}


#searchSection{

}

#resultsSection{
	/*display: none;	*/
}

#savedSection{
	/*display: none;	*/
}

.saveBtn{
	float: right;
}


footer{
    min-height: 65px;
    line-height: 65px;
    margin-top: 65px;
    border-top: 1px solid #ccc;	
}
